@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Bold.ttf);
}
body {
    background-color: #C4C4C4;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}
div {
    background-color: #FC8F8F;
}
.main_block {
    background-color: #E6E6E6;
    margin: 50px auto;
}
.main_block::after {
    content: "" ;
    display:block;
    clear: both;
}
.main_block>div {
    width: 200px;
    height: 200px;
}
div.small {
    font-size: 36px;
    line-height: 42px;
    width: 100px;
    height: 100px;
}
.bloks {
    float: left;
    margin-right: 15px;
}
.bloks_right {
    float: right;
    margin-left: 15px;
}
